<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key=".DefaultServer" value="https://hdgtfs/tfs" />
        <add key=".DefaultQuery"  value="SELECT [System.Id] FROM WorkItems WHERE [System.AssignedTo]=@Me" />
        <add key="      ID" value="[Fields.Id]" />
        <add key="   Title" value="[Title]" />
        <add key="Assigned" value="[Fields.Assigned To]" />
        <add key="   State" value="[State]" />
        <add key="  Triage" value="[Fields.Triage]" />
        <add key=" Created" value="[CreatedDate] by [CreatedBy]" />
        <add key=" Changed" value="[ChangedDate] by [ChangedBy]" />
<!--
    All fields are supported, supported properties are:
        * AreaId
        * AreaPath
        * Attachments
        * ChangedBy
        * ChangedDate
        * CreatedBy
        * CreatedDate
        * Description
        * Id
        * IterationId
        * IterationPath
        * NodeName
        * Project
        * Reason
        * RevisedDate
        * Revision
        * State
        * Title
        * Type
        * Uri

    A special %shelf_contents% property is supported that expand the contents of a shelf
    specified in the bugs' Changeset field.
-->
    </appSettings>
</configuration>
